.studentpage {
  height: 70vh;
  display: flex;
  flex-direction: column;

  margin: 2rem 2rem;
  justify-content: center;
  text-align: center;
  color: #ffdb1b;
}

.studentpage .logout {
  position: absolute;
  margin: 2rem;
  bottom: 0;
  right: 0;
}