.studentpage {
  height: 70vh;
  display: flex;
  flex-direction: column;

  margin: 2rem 2rem;
  justify-content: center;
  text-align: center;
  color: #ffdb1b;
}

.homepage .login {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}